/* General CSS */

* {
	/* font-family: "Didot" serif; */
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/roboto/Roboto-Light.ttf");
	src: url("../font/roboto/Roboto-Light.woff") format("woff");
	/* url("../font/roboto/Roboto-Light.otf") format("opentype"); */
}

@font-face {
	font-family: "Roboto Bold";
	src: url("../font/roboto/Roboto-Bold.ttf");
	src: url("../font/roboto/Roboto-Bold.woff") format("woff");
	/* url("../font/roboto/Roboto-Bold.otf") format("opentype"); */
}

/* @font-face {
	font-family: "Roboto Thin";
	src: url("../font/roboto/Roboto-Thin.ttf");
	src: url("../font/roboto/Roboto-Thin.woff") format("woff"),
	url("../font/roboto/Roboto-Thin.otf") format("opentype");
} */

html {
	/* overflow: overlay; */
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 2px;
	transition: background-color .2s ease;
}
::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0, 0, 0, 0.3);
}

body {
	background: rgb(255,242,215);
	background: linear-gradient(0deg, rgba(255,242,215,1) 0%, rgba(250,247,242,1) 40%);
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

h1 {
	position: relative;
	margin-left: 10%;
	font-size: 5vmax;
	font-weight: bold;
	font-family: "Roboto";
	color: #311111;
}

/*REMOVE AFTER COVID*/

/* #covidBanner {
	max-width: 75vw;
	position: fixed;
	right: 1vw;
	display: flex;
	font-family: "Roboto Bold";
	font-size: 2vh;
	color: white;
	background-color: #FF3333;
	text-decoration: none;
	padding: 1%;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
} */

#covidBanner svg {
	margin-right: 1%;
}

#bannerText {
	font-family: "Roboto Bold";
	font-size: 2vh;
	color: white;
	text-decoration: none;
}

/*********************/

#parallaxWrapper {
	height: 100vh;
	perspective: 2px;
	overflow-x: hidden;
	overflow-y: overlay;
}

.section {
	display: flex;
	position: relative;
	width: 100vw;
	margin: 0;
	padding: 0;
}

/* .parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
} */

/* Navbar styles */
#navHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #311111;
  color: white;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  font-family: "Roboto", sans-serif;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
	height:100%;
}

.navLogo img {
  height: 50px;
}

.navMenu {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
  padding: 0;
	height: 100%;
}

.navItem {
  position: relative;
	padding: 30px;
}

.navItem a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navItem:hover > a {
  color: rgba(255, 242, 215, 1);
  text-decoration: none;
}

/* Dropdown menu styles */
.navItem .dropdown {
  display: none;
  position: absolute;
  background-color: #311111;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  z-index: 100;
}

.navItem .dropdown li {
  padding: 0;
	margin: 0;
}

.navItem .dropdown li a {
  color: white;
  display: block;
  padding: 10px 20px;
}

.navItem .dropdown li a:hover {
  background-color: rgba(255, 242, 215, 1);
  color: #311111;
}

.navItem:hover .dropdown {
  display: block;
}
/* Front Page */

/* #frontPage {
	height: 175vh;
} */

#frontPage #bigLogo {
	position: relative;
	-webkit-filter: drop-shadow(8px 8px 8px black);
	filter: drop-shadow(8px 8px 8px black);
	height: auto;
	width: 65%;
	z-index: 1;
}

#frontPage .firstContent p {
	-webkit-filter: drop-shadow(5px 5px 5px black);
	filter: drop-shadow(5px 5px 5px black);
	color: white;
	margin-top: 2%;
	font-size: 2vw;
}

.bg1 {
	background: radial-gradient(circle, #311111 50%, black 125%);
}

#frontWrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
}

.firstContent {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100vw;
}

#stickOverlay img {
	position: absolute;
}

#panel1 {
	left: 0;
	height: 100vh;
	width: auto;
}

#panel2 {
	right: 0;
	height: 100vh;
	width: auto;
}

@keyframes float {
	/* #firstSection {
		height: 120vh;
	} */

	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#downArrow {
	animation: float 4s ease-in-out infinite;
	position: absolute;
	height: 10vh;
	bottom: 15vh;
	z-index: 1;
}

#downArrow img {
	-webkit-filter: drop-shadow(5px 5px 5px black);
	filter: drop-shadow(5px 5px 5px black);
	height: 100%;
	width: auto;
}

/* About Page */

.bg2::after {
	/* background-image: url("../assets/splatter.jpg"); */
	background: rgb(255,242,215);
	background: linear-gradient(0deg, rgba(255,242,215,1) 0%, rgba(250,247,242,1) 40%);
}

#aboutWrapper {
	display: flex;
	flex-direction: column;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.titleRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.aboutRow {
	display: flex;
	justify-content: space-between;
	padding: 2% 10% 2% 10%;
}

.bar {
	background-color: #311111;
	width: 60vw;
	height: 5px;
}

#row2 {
	background-color: #311111;
	color: white;
}

#text2 {
	text-align: right;
}

.textBox {
	font-family: "Roboto";
	display: block;
	max-width: 45%;
	max-height: 100%;
}

.grow {
	transition: 1s ease;
	transition-delay: 0.2s;
}

.grow:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(100%);
	transform: translate(0, -10px);
	transition: 1s ease;
}

#sunset {
	max-height: 30vw;
}

#starwars {
	max-height: 20vw;
}

#tickets {
	position: absolute;
	transform: translate(100%, -20%) rotate(-5deg);
	right: 0;
	height: auto;
	width: 75vw;
}

#about img {
	height: auto;
	max-width: 45%;
}

#about p {
	font-size: 2.5vmax;
}

/* Join Page */

#joinWrapper {
	display: flex;
	flex-direction: column;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.joinRow {
	display: flex;
	justify-content: space-between;
	padding: 2% 10%;
}

#auditionInfo {
	padding: 0 2%;
	margin-top: 0;
}

.infoBox {
	text-align: center;
	padding: 2%;
	margin-bottom: 2%;
	max-width: 40vw;
	background-color: #311111;
	color: white;
	border-radius: 30px;
}

.subtext {
	font-size: 1.2vmax !important;
	font-style: italic;
	font-weight: 100;
}
#join .subtext {
	margin-top: 0;
	padding-top: 0;
}

#faq {
	padding: 2%;
	background-color: #311111;
	color: white;
	border-radius: 8px;
}

#join hr {
	height: 2px;
	margin: 20px auto;
	border: none;
	background-color: #311111;
	width: 80%;
}
#auditionInfo hr {
	background-color: #311111;
}
#faq hr {
	background: linear-gradient(0deg, rgba(255,242,215,1) 0%, rgba(250,247,242,1) 40%);
}

.joinRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#auditionWrapper a {
	font-weight: bold;
}

#faq a, .infoBox a {
	color: #E4D9B8;
	font-weight: bold;
}

#join h3 {
	padding: 2% 2% 2% 0;
	font-size: 2.5vmax;
}

#join h4 {
	padding-top: 2%;
	font-size: 1.9vmax;
}

#join p {
	padding: 2%;
	font-size: 1.7vmax;
}

#join ol {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1.7vmax;
}

#join a {
	text-decoration-line: none;
}

#join a:hover{
	text-decoration: underline;
}

#join img {
	max-width: 60%;
}

@media only screen and (max-width: 812px) {
	.joinChild {
		max-width: 80vw;
		margin-top: 20px;
	}
	.joinRow {
		padding: 2%;
	}
	/* #join hr {
		height: 1px;
	} */
	#join h3 {
		font-size: 22px;
	}
	#join h4 {
		font-size: 20px;
	}
	#join p, #join ol {
		font-size: 18px;
	}
	#join img {
		max-width: 80%;
	}
}

/* Watch Page */

#watch {
	box-sizing: border-box;
}

#watchWrapper {
	display: flex;
	flex-direction: column;
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-family: "Roboto";
	font-weight: bolder;
	font-size: 1.75vmax;
	line-height: 1.5;
	width: 100vw;
}

#watchWrapper a {
	text-decoration: none;
}

.showtickets {
	background-color: #311111;
	color: white;
	border-radius: 50px;
	padding: 15px 20px;
	margin: auto;
	max-width: 75%;
}
.showtickets:hover {
	background-color: #311111d0;
}
.showtickets a {
	color: white;
}
.showtickets i {
	color: #E4D9B8;
}

/* Slideshow css from https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Slideshow container */
.slideshow-container {
	max-width: 100vw;
	position: relative;
	margin: auto;
	text-align: center;
}

/* Hide the images by default */
.mySlides {
	display: none;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	/* background-color: rgba(0,0,0,0.05); */
}
.prev {
	left: 0;
	border-radius: 0 5px 5px 0;
}
.next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.45);
}

/* Caption text */
/* .text {
	color: white;
	font-size: 15px;
	padding: 12px 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
} */

/* Number text (1/5 etc) */
.numbertext {
	color: white;
	font-size: 12px;
	padding: 12px 12px;
	position: absolute;
	bottom: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.iframePlaceholder {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	background-color: #262626;
	padding: 10px;
}
.iframePlaceholder p {
	padding: 10px 20px;
	font-style: italic;
	font-size: 1.5vmax;
}
.iframePlaceholder img {
	max-height: 15vw;
	object-fit: contain;
}

.iframeSize {
	height: 33.75vw;
	width: 60vw;
}

@media only screen and (max-width: 812px) {
	.iframeSize {
		height: 45vw;
		width: 85vw;
	}
	.iframePlaceholder img {
		display: none;
	}
}


/* Contact Page */

#contactTitle {
	margin-bottom: 2%;
}

#contactWrapper {
	display: flex;
	flex-direction: column;
	padding-top: 5vh;
	padding-bottom: 2vh;
	width: 100%;
}

#fifthSection.section.parallax.bg2::after {
	transform: translateZ(0) scale(1);
}

#contact .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2% 10%;
}


.contactCard {
	box-sizing: content-box;
	background-color: white;
	border-radius: 5%;
	padding: 20px;
	margin: 0.5em;
	height: 300px;
	width: 200px;
	text-align: center;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	transition: 1s ease;
}

.contactCard img {
	border-radius: 100%;
	margin-top: 25px;
	margin-bottom: 50px;
}

.contactCard:hover{
	box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
	transition: 1s ease;
}

.contactCard p {
	text-align: center;
	font-style: italic;
	margin-bottom: 1%;
}
.contactCard a {
	color: black;
	text-decoration-line: none;
}

.contactCard h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.contactCard h4 {
	font-size: 20px;
}

/* Footer */

.socialBubbles {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.socialBubbles img {
	height: 25vh;
	width: auto;
	margin: 20px;
}

#facebook {
	animation: float 8s ease-in-out infinite;
}

#instagram {
	animation: float 6s ease-in-out infinite;
}

#twitter {
	animation: float 4s ease-in-out infinite;
}

footer {
	text-align: left;
	padding-top: 2%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer h3 {
	animation: float 5s ease-in-out infinite;
}

footer .socialBubbles {
	margin-left: 10px;
}

footer .socialBubbles img {
	height: 4vh;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
